<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 columns">
      <p class="logo show-for-small-only logo-img"><span class="footer-title">Anthony W Belton</span></p>
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <p class="logo hide-for-small-only"><span class="footer-title">Anthony W Belton</span></p>
      <ul class="inline-list social">
        <a href="https://www.facebook.com/awbelton" target="_blank" class="fi-social-facebook"></a>
        <a href="#" class="fi-social-twitter"></a>
        <a href="https://www.linkedin.com/in/awbelton1" target="_blank" class="fi-social-linkedin"></a>
      </ul>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script src="/public/jquery.js"></script>
<script>
    $(document).foundation();
  </script>
</body>
</html>
