@font-face {
    font-family: HighlandGothicLightFLF;
    src: url("/public/fonts/HighlandGothicLightFLF.ttf");
}

@font-face {
    font-family: Lato;
    src: url("/public/fonts/Lato-Medium.ttf");
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu);

h3 {
  font-family: Lato;
}

.callout {
  /* background-color: #232736 !important; */
  background-image: url("/public/images/banner_image.png");
  opacity: 0.8;
  border-top: 1px solid #436D7A;
  border-bottom: 2px solid #436D7A;
  z-index:0;
  margin-top:2.6%;
}

.text-center h1 {
  color: #610A00;
  font-family: Lato;
  font-weight:bolder;
  -webkit-text-stroke: .0001em #4A0801;
}

.lead {
  color: #000000;
  font-family: Lato;
  font-weight:bolder;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
}

.menu {
  background-color: #292c2f;
  padding: 0.5rem 2rem;
  height: auto;
 }
  .menu .inline-list {
    text-align: center; }
    .menu .inline-list li {
      float: none;
      display: inline-block;
     }
    .menu .inline-list a {
      color: #fff;
      padding-bottom: 0.3rem;
     }
      .menu .inline-list a:hover {
        color: #4A7096;
        transition: all .3s ease-in-out; }
    .menu .inline-list .active a {
      color: #87d37c; }
    .menu .account a, .menu .account i {
      color: #fff; }
  @media only screen and (min-width: 40.063em) {
    .menu {
      height: 50px; }
      .menu .inline-list {
        float: left;
        margin: 0 0 0 1.1rem; }
      .menu a:hover {
        border-bottom: 2px solid #4A7096; } }
    .menu-text {
      color: #eee;
      font-family: Lato;
      letter-spacing: 2px;
    }
    .menu-link {
      font-family: Lato;
    }

.footerMenu {
  background-color: white;
}

.top-bar {
    background: #292c2f;
  /*
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(8%, rgba(76,76,76,1)), color-stop(11%, rgba(76,76,76,1)), color-stop(38%, rgba(71,71,71,1)), color-stop(90%, rgba(41,44,47,1)), color-stop(100%, rgba(41,44,47,1)));
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: -o-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: linear-gradient(to bottom, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#292c2f', GradientType=0 ); */
  -webkit-box-shadow: -1px 7px 5px 3px rgba(0,0,0,0.54);
  -moz-box-shadow: -1px 7px 5px 3px rgba(0,0,0,0.54);
  box-shadow: -1px 7px 5px 3px rgba(0,0,0,0.54);
  position:fixed;
  top:0px;
  margin-bottom:100px;
  z-index:1;
  width:100%;
  /*border-bottom: 2px solid #610A00;*/
}

.top-bar ul {
    background: #292c2f;
    /*
  background: rgba(76,76,76,1);
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(8%, rgba(76,76,76,1)), color-stop(11%, rgba(76,76,76,1)), color-stop(38%, rgba(71,71,71,1)), color-stop(90%, rgba(41,44,47,1)), color-stop(100%, rgba(41,44,47,1)));
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: -o-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: -ms-linear-gradient(top, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  background: linear-gradient(to bottom, rgba(76,76,76,1) 8%, rgba(76,76,76,1) 11%, rgba(71,71,71,1) 38%, rgba(41,44,47,1) 90%, rgba(41,44,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#292c2f', GradientType=0 );*/
  font-family:Verdana;
  /*border-bottom: 2px solid #610A00;*/
}

.formbg {
  background-color: #eee;
  opacity:0.85;
}

.title {
  border-bottom: 2px solid red;
}


/* foundations stuff */

.callout-card {
  background: white;
  border: 1px solid #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden; }
  .callout-card .card-label {
    border-color: transparent #333 transparent transparent;
    border-color: rgba(255, 255, 255, 0) #333333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.primary {
    border-color: #446cb3; }
    .callout-card.primary .card-label {
      border-color: transparent #446cb3 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #446cb3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.secondary {
    border-color: #adb2bd; }
    .callout-card.secondary .card-label {
      border-color: transparent #adb2bd transparent transparent;
      border-color: rgba(255, 255, 255, 0) #adb2bd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.info {
    border-color: #89c4f4; }
    .callout-card.info .card-label {
      border-color: transparent #89c4f4 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.alert {
    border-color: #f22613; }
    .callout-card.alert .card-label {
      border-color: transparent #f22613 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #f22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.success {
    border-color: #87d37c; }
    .callout-card.success .card-label {
      border-color: transparent #87d37c transparent transparent;
      border-color: rgba(255, 255, 255, 0) #87d37c rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card.warning {
    border-color: #f89406; }
    .callout-card.warning .card-label {
      border-color: transparent #f89406 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #f89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0); }
  .callout-card .card-label {
    border-style: solid;
    border-width: 0 70px 40px 0;
    float: right;
    height: 0px;
    width: 0px;
    transform: rotate(360deg); }
  .callout-card .callout-card-content {
    padding: 0.5rem 1.5rem 0.875rem; }
  .callout-card.radius {
    border-radius: 0.6rem; }
  .callout-card .label-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
    right: -40px;
    top: 2px;
    white-space: nowrap;
    transform: rotate(30deg); }

/* about page */

.about-skills {
  border: 1px solid #C2C2C2;
  border-radius:4px;
  height: auto;
  padding: 5px;
  background-color: #EBEBEB;
  margin-bottom: 5px;
}

.about-resume {
  /*border: 1px solid #C2C2C2;*/
  border-radius:4px;
  height: auto;
  padding: 5px;
}

.about-resume li {
  margin: -12px 0 15px 0;
  line-height: 25px;
  list-style-type: disc;
  font-family: Lato;
}

.about-content {
  font-size: 14px;
  font-family: Lato;
}

.skill {
  padding:5px;
  font-size:13px;
  font-family: Lato;
}

.skill-desc {
  margin-bottom: -5px;
}

.hide-link {
  margin-left:50%;
  font-weight: bold;
  font-size:11px;
}

.show-link {
  margin-left:50%;
  font-weight: bold;
  font-size:11px;
}

.li-post {
  font-size: 26px;
  margin-bottom: 6px;
  font-family: Lato;
}

.li-author {
  font-size: 13px;
  border-radius: 3px;
  font-family: Lato;
}

.li-content {
  font-size:17px;
  margin-top: 6px;
  padding: 3px;
  font-family: Lato;
}

ul {
  list-style-type: none;
}

.main-posts {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.post-menu {
  text-align: center;
}

.contBox {
  border-radius: 5px;
}

.postbg {
  background-color: #F7F7F7;
  border-radius: 5px;
  padding: 7px;
  -webkit-box-shadow: 3px 14px 5px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 14px 5px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 14px 5px -12px rgba(0,0,0,0.75);
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(247,247,247,1)), color-stop(100%, rgba(240,240,240,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
}

.footerBg {
  background-color: #EBEBEB !important;
  width: 100%;
  float:left;
}

/* portfolio design css */
.ptitle {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 3px;
}

.ptitle h2 {
    font-family: Lato !important;
}

.box-portfolio {
    /*border: 2px solid #D9D9D9;*/
    border-radius: 5px;

}

.port-img {
    max-height: 300px;
    max-width: 250px;
}

.img-cont {
    margin:0 auto !important;
    text-align: center;
}

.port-row {
    margin-top: 10px;
    margin-bottom: 15px !important;
}


/* footer */
@charset "UTF-8";
.row {
  max-width: 1200px; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-top: 2px solid black;
   }
  .footer .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0; }
  .footer .footer-form textarea, .footer .footer-form input {
    border-radius: 3px;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    color: #d1d2d2;
    padding: 1.3rem; }
  .footer .footer-form label {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    font-weight: bold; }
  .footer .footer-form .submit {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 1rem 3.5rem;
    font-weight: bold;
    float: right;
    margin: 0 1rem 2rem 0; }
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    font-family: "Lato";
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
    .footer .footer-links a:hover {
      color: blue;
    }
    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
  @media only screen and (min-width: 40.063em) {
    .footer {
      padding: 4rem; }
      .footer p {
        text-align: left; }
      .footer .social {
        text-align: left;
        margin: 0; }
      .footer .footer-form .contact {
        position: absolute;
        left: -45%;
        top: 10%; } }
.fi-social-facebook {
  background-image: url('/public/images/fb1.png');
}

.fi-social-facebook:hover {
  background-image: url('/public/images/fb2.png');
}

.fi-social-twitter {
  background-image: url('/public/images/tw.png');
}

.fi-social-twitter:hover {
  background-image: url('/public/images/tw2.png');
}

.fi-social-linkedin {
  background-image: url('/public/images/in1.png');
}

.fi-social-linkedin:hover {
  background-image: url('/public/images/in2.png');
}

.footer-title {
  font-family: 'Ubuntu' !important;
  font-size: 34px !important;
  border-bottom: 2px solid red;
}

.logo {
  color: #fff;
  font-size: 20px;
  font-family: Lato;
 }
  .logo i {
    margin-right: 0.5rem; }

  .logo-img {
    max-height: 150px !important;
    max-width: 130px !important;
  }

  .logo-top {
    height: 40px;
    width: 45px;
    display: inline;
    float:left;
  }
