<% include ../partials/head %> <!-- including head.ejs -->
<header>
  <% include ../partials/header %> <!-- including header.ejs -->
</header>

  <div class="callout large">
    <div class="row column text-center">
      <h1>Display Through Design</h1>
      <p class="lead">A simple portfolio written in nodejs, by Anthony Belton.</p>
    </div>
  </div>
  <hr>
  <div class="row column">
          <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span>Login</h3>
            </div>
        </div>
  </div>


<% include ../partials/footer %> <!-- including header.ejs -->
