<% include ../partials/head %> <!-- including head.ejs -->
<header>
  <% include ../partials/header %> <!-- including header.ejs -->
</header>

  <div class="callout large">
    <div class="row column text-center">
      <h1>Display Through Design</h1>
      <p class="lead">A simple portfolio written with nodejs, by Anthony Belton.</p>
      <a href="#" class="button large login">Login</a>
      <a href="#" class="button large hollow signup">Sign up</a>
   <% include ../partials/login %>
    </div>
  </div>
  <hr>
  <div class="row column">
  </div>


<% include ../partials/footer %> <!-- including header.ejs -->
