<% include ../partials/head %> <!-- including head.ejs -->
<header>
  <% include ../partials/header %> <!-- including header.ejs -->
</header>

<div class="callout large">
  <div class="row column text-center">
    <h1>Display Through Design</h1>
    <p class="lead">A simple portfolio written with nodejs, by Anthony Belton.</p>
  </div>
</div>
  <div class="row" ng-controller="portfolioCtrl">
  <h1><center>{{ title }}</center></h1>
  <hr>
  <div class="row column">
      
    <% for(var i=0; i < portfolio.length; i++) { %>
    <div class="row port-row">
        <div class="box-portfolio">
            <div class="row ptitle"><span><h2><%= portfolio[i].portTitle %></h2></span></div>
            <div class="row">
                  <div class="small-4 large-4 columns img-cont"><img class="port-img" src="<%- portfolio[i].portImage %>"></div>
                  <div class="small-6 large-8 columns"><p><%- portfolio[i].portDescription %></p></div>
                 </div>
            </div>
        </div>
        <% }; %>

</div>
</div>
</div>


<% include ../partials/footer %> <!-- including header.ejs -->
